<div class="min-h-full bg-[#F5F6F6] pt-12">
  <div class="flex min-h-full w-full items-center justify-center">
    <div
      *ngIf="question"
      class="flex min-h-[75vh] w-[75vw] flex-col rounded-md bg-white text-justify font-openSans text-[16px] font-[400] leading-[23px] md:flex-row">
      <div class="w-full md:w-[50%]">
        <div class="p-12" [innerHTML]="question.title">
          <!-- {{ question.title }} -->
        </div>
      </div>
      <div class="w-full md:w-[50%]">
        <div class="p-12">
          <p class="!mb-4">SELECT ONLY ONE</p>
          <fieldset class="">
            <legend class="sr-only">Question</legend>
            <div class="-space-y-px rounded-md bg-white">
              <!-- Active: "border-[#4DAD9B] ring-2 ring-[#4DAD9B]", Not Active: "border-gray-300" -->
              <label
                [ngClass]="
                  activeOption === option
                    ? 'z-10 border-[#e0fff9] bg-[#e0fff9]'
                    : 'border-gray-200'
                "
                *ngFor="let option of question.options"
                class="relative !mb-4 flex cursor-pointer rounded-md border p-4 focus:outline-none">
                <input
                  (click)="setActiveOption(option)"
                  type="radio"
                  [name]="question._id"
                  [value]="option"
                  class="mt-0.5 h-4 w-4 shrink-0 cursor-pointer border-gray-300 text-[#4DAD9B] focus:ring-[#4DAD9B] active:ring-2 active:ring-[#4DAD9B] active:ring-offset-2" />
                <span class="ml-3 flex flex-col">
                  <span
                    [innerHTML]="option"
                    [ngClass]="
                      activeOption === option
                        ? 'text-[#32756A]'
                        : 'text-gray-900'
                    "
                    class="block text-sm font-medium"></span>
                </span>

                <!-- <span
                  [ngClass]="activeOption === option ? 'border' : 'border-2'"
                  class="pointer-events-none absolute -inset-px rounded-lg"
                  aria-hidden="true"></span> -->
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
