<div class="flex h-full w-full items-center justify-center bg-[#F6F6F6]">
  <div class="h-[90%] w-[90%]">
    <div class="flex justify-between">
      <a
        mat-dialog-close
        [routerLink]="['/dashboard/preview/', inputData?._id]"
        target="_blank"
        class="rounded-md bg-[#ededed] px-3.5 py-2.5">
        <i class="fa-regular fa-eye"></i>
        Preview sample question
      </a>
      <i
        mat-dialog-close
        class="fa-solid fa-xmark p-2 hover:cursor-pointer"></i>
    </div>
    <div class="mt-8 flex flex-col gap-4 md:flex-row">
      <div class="flex-1 md:w-[50%]">
        <h2 class="mb-4 font-openSans text-[20px] font-[600] leading-[32px]">
          {{ inputData?.title }}
        </h2>
        <p class="font-openSans text-[14px] font-[400] leading-[20px]">
          {{ inputData?.shortDescription }}
        </p>
        <div class="mb-4 mt-4 flex w-[90%]">
          <div
            class="h-[10rem] w-[18rem] items-stretch border-r-2 bg-white p-4">
            <i class="fa-solid fa-list-check"></i>
            <h3 class="font-openSans text-[18px] font-[700] leading-[22px]">
              Type
            </h3>
            <span class="text-[12px] font-[300]">{{ inputData?.type }}</span>
          </div>
          <div
            class="h-[10rem] w-[18rem] items-stretch border-r-2 bg-white p-4">
            <i class="fa-solid fa-stopwatch"></i>
            <h3 class="font-openSans text-[18px] font-[700] leading-[22px]">
              Time
            </h3>
            <span class="text-[12px] font-[300]">
              {{ inputData?.time | plural }}
            </span>
          </div>
          <div class="h-[10rem] w-[18rem] items-stretch bg-white p-4">
            <i class="fa-solid fa-signal"></i>
            <h3 class="font-openSans text-[18px] font-[700] leading-[22px]">
              Level
            </h3>
            <span class="text-[12px] font-[300]">
              {{ inputData?.level | uppercase }}
            </span>
          </div>
        </div>
        <div class="mb-4 mt-4">
          <h3 class="font-openSans text-[18px] font-[700] leading-[22px]">
            Covered skills
          </h3>
          <ul class="list-none">
            <li
              class="font-openSans text-[14px] font-[400] leading-[20px] before:content-['✓']"
              *ngFor="let skill of inputData?.skills">
              {{ skill }}
            </li>
          </ul>
        </div>
        <div class="mb-4 mt-4">
          <h3 class="font-openSans text-[18px] font-[700] leading-[22px]">
            This test is relevant for
          </h3>
          <p class="font-openSans text-[14px] font-[400] leading-[20px]">
            {{ inputData?.relevantRoles }}
          </p>
        </div>
      </div>
      <div class="flex-1 pb-12 md:w-[50%]">
        <h3
          class="mb-4 mt-4 font-openSans text-[18px] font-[700] leading-[22px]">
          Description
        </h3>
        <p
          class="font-openSans text-[14px] font-[400] leading-[20px]"
          [innerHTML]="inputData?.description">
          <!-- {{ inputData?.description }} -->
        </p>
      </div>
    </div>
  </div>
</div>
