<nav class="bg-white shadow">
  <div class="mx-auto max-w-[90vw] px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#44aa97]"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="mobileMenuToggle()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            [ngClass]="mobileMenuOpen ? 'hidden' : 'block'"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            [ngClass]="mobileMenuOpen ? 'block' : 'hidden'"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src="../../assets/logo-testgorilla.svg"
            alt="Your Company" />
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-[#44aa97]  text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <a
            routerLink="/dashboard/assessments"
            [ngClass]="
              activeMenu === 'assessments'
                ? 'border-[#44aa97]  text-gray-900'
                : 'border-transparent text-gray-500 hover:border-gray-300'
            "
            class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">
            Assessments
          </a>
          <a
            href="#"
            [ngClass]="
              activeMenu === 'candidates'
                ? 'border-[#44aa97]  text-gray-900'
                : 'border-transparent text-gray-500 hover:border-gray-300'
            "
            class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">
            Candidates
          </a>
          <a
            routerLink="/dashboard/tests"
            [ngClass]="
              activeMenu === 'tests'
                ? 'border-[#44aa97]  text-gray-900'
                : 'border-transparent text-gray-500 hover:border-gray-300'
            "
            class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">
            Tests
          </a>
          <a
            routerLink="/dashboard/questions"
            [ngClass]="
              activeMenu === 'questions'
                ? 'border-[#44aa97]  text-gray-900'
                : 'border-transparent text-gray-500 hover:border-gray-300'
            "
            class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">
            Questions
          </a>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-white text-sm focus:outline-none"
              aria-expanded="false"
              aria-haspopup="true"
              (click)="dropdownMenuToggle()">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <span class="text-[14px] font-[400] leading-[18px]" *ngIf="user">
                {{ user.firstName + ' ' + user.lastName }}
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </button>
          </div>

          <div
            class="absolute right-0 z-10 mr-[-3rem] mt-3 hidden w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            id="user-menu-dropdown">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0">
              Your Profile
            </a>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-1">
              Settings
            </a>
            <button
              (click)="logout()"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2">
              Sign out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden sm:hidden" id="mobile-menu">
    <div class="space-y-1 pb-4 pt-2">
      <!-- Current: "bg-indigo-50 border-[#44aa97]  text-[#31766A] ", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
      <a
        href="#"
        [ngClass]="
          activeMenu === 'assessments'
            ? 'border-[#44aa97] bg-indigo-50  text-[#31766A] '
            : 'border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700'
        "
        class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium">
        Assessments
      </a>
      <a
        href="#"
        [ngClass]="
          activeMenu === 'candidates'
            ? 'border-[#44aa97] bg-indigo-50  text-[#31766A] '
            : 'border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700'
        "
        class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium">
        Candidates
      </a>
      <a
        routerLink="/dashboard/tests"
        [ngClass]="
          activeMenu === 'tests'
            ? 'border-[#44aa97] bg-indigo-50  text-[#31766A] '
            : 'border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700'
        "
        class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium">
        Tests
      </a>
      <a
        routerLink="/dashboard/questions"
        [ngClass]="
          activeMenu === 'questions'
            ? 'border-[#44aa97] bg-indigo-50  text-[#31766A] '
            : 'border-transparent text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700'
        "
        class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium">
        Questions
      </a>
    </div>
  </div>
</nav>
