<div class="relative z-30">
  <div class="fixed w-[100%]">
    <app-header></app-header>
  </div>
</div>

<!-- Hero section start -->
<div class="relative flex w-[100vw] overflow-hidden pt-[5rem]">
  <div class="basis-[50%] bg-[#226679] text-[#EDEDED]">
    <div class="m-auto mt-32 w-[80%]">
      <h1 class="text-[40px] font-[700] leading-[50px] text-[#FFFFFF]">
        TestGorilla works. Resumes
        <br />
        don't.
      </h1>
      <p class="mb-4 mt-4 text-[18px] font-[300] leading-[28px] text-white">
        Our talent assessments screen and identify the best candidates and make
        your hiring decisions faster, easier, and bias-free.
      </p>
      <div class="mb-12 mt-12">
        <a
          routerLink="/signup"
          class="mr-4 rounded-lg bg-[#FFFFFF] p-4 text-[14px] font-[600] leading-[24px] text-black hover:bg-[#EDEDED]">
          Try for free!
        </a>
        <a
          class="rounded-lg border-2 p-3.5 text-[14px] font-[600] leading-[24px] text-[#ffffff] hover:text-[#EDEDED]">
          Talk to sales
        </a>
      </div>
      <div class="mb-32 flex gap-4 font-light">
        <img src="../../assets/hero-leader.svg" alt="" />
        <div class="text-[18px] font-[300] leading-[28px] text-white">
          <p class="mb-2">Rated #1 in talent assessments</p>
          <p>Top 100 fastest-growing software globally</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex basis-[50%] justify-center bg-[#E3C3C6]">
    <img src="../../assets/testgorilla_hero.png" alt="" />
  </div>
</div>
<!-- Hero section end -->

<!-- which companies uses testgorilla section start -->
<div class="flex justify-center">
  <div class="w-[70vw]">
    <h1
      class="mb-12 mt-32 text-center text-[40px] font-bold leading-[50px] text-black">
      Join the 10,400+ companies replacing resumes with TestGorilla.
    </h1>
    <div class="mb-32 flex items-center justify-between">
      <img class="h-auto w-[100px]" src="../../assets/company-hm.png" alt="" />
      <!-- <img class="w-[100px] h-12" src="../../assets/company-revolut.jpeg" alt=""> -->
      <img
        class="h-auto w-[100px]"
        src="../../assets/company-unhcr.png"
        alt="" />
      <img class="h-8 w-[100px]" src="../../assets/company-sony.webp" alt="" />
      <img class="h-auto w-[100px]" src="../../assets/company-ey.webp" alt="" />
    </div>
  </div>
</div>
<!-- which companies uses testgorilla section end -->

<!-- barometer for success section start -->
<div class="bg-[#F5F6F6] pb-16 pt-16">
  <div class="m-auto flex w-[90vw]">
    <div class="flex basis-[50%] justify-center">
      <img class="h-96 w-auto" src="../../assets/technologies.webp" alt="" />
    </div>
    <div class="basis-[50%]">
      <div class="m-auto w-[80%]">
        <h2 class="mb-[2.5rem] text-[40px] font-[700] leading-[50px]">
          A barometer for job success.
        </h2>
        <div class="mb-4 text-[18px] font-[300] leading-[28px]">
          <p class="mb-[1.5rem]">
            Predict real-world job performance using our library of 358
            scientifically validated tests.
          </p>
          <p class="mb-[1.5rem]">
            Test candidates for job-specific skills like coding or digital
            marketing, as well as more general skills like critical thinking.
          </p>
          <p class="mb-[1.5rem]">
            Our unique personality and value tests allow you to get to know your
            applicants as real people – not just pieces of paper.
          </p>
        </div>
        <a
          class="mt-4 rounded-lg border-2 border-black p-4 text-[14px] font-[600] leading-[24px]"
          href="">
          See tests
        </a>
      </div>
    </div>
  </div>
</div>
<!-- barometer for success section end -->

<!-- Quality time section start -->
<div class="bg-[#CBD6CB]">
  <div class="m-auto flex w-[90vw]">
    <div class="flex basis-[50%] flex-col items-center justify-center">
      <div class="w-[80%]">
        <h2 class="mb-[1.5rem] text-[40px] font-[700] leading-[50px]">
          Quality time for quality
          <br />
          candidates.
        </h2>
        <p class="mb-[1.5rem] text-[18px] font-[300] leading-[28px]">
          Boom. No more time wasted on screening resumes and pre-qualifying
          interviews.
        </p>
        <p class="mb-[1.5rem] text-[18px] font-[300] leading-[28px]">
          We automatically grade and rank your candidates. In the time it takes
          to savor a cup of coffee, you can watch video responses to custom
          questions.
        </p>
        <p class="mb-[1.5rem] text-[18px] font-[300] leading-[28px]">
          Our screening process automation lets you focus on the best people for
          the job.
        </p>
      </div>
    </div>
    <div class="basis-[50%]">
      <img
        class="relative z-10 ml-[-5rem] mt-12"
        src="../../assets/score1.webp"
        alt="" />
      <img
        class="ml-[8rem] mt-[-25rem]"
        src="../../assets/score2.webp"
        alt="" />
    </div>
  </div>
</div>
<!-- Quality time section end -->

<!-- bias section start -->
<div class="bg-[#F5F6F6]">
  <div class="m-auto flex w-[90vw] gap-8">
    <div class="mt-12 basis-[50%]">
      <img src="../../assets/bias.png" alt="" />
    </div>
    <div class="flex basis-[50%] items-center justify-center">
      <div class="">
        <h2 class="mb-10 text-[40px] font-[700] leading-[50px]">
          Say goodbye to unconscious
          <br />
          bias.
        </h2>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          Diverse teams perform better.
        </p>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          With TestGorilla, you give all applicants an equal, unbiased
          opportunity to showcase themselves.
        </p>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          This ensures you get the best talent from all walks of life.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- bias section end -->

<!-- candidate experience section start -->
<div class="bg-[#F0D6BB]">
  <div class="m-auto flex w-[90vw]">
    <div class="flex basis-[50%] items-center justify-center">
      <div>
        <h2 class="mb-10 text-[40px] font-[700] leading-[50px]">
          Offer a positive candidate
          <br />
          experience.
        </h2>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          Good candidates appreciate good screening tests.
        </p>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          Our professional, well-designed tests serve as an extension of your
          brand and personality.
        </p>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          Your applicants get the motivation and engagement they need to truly
          shine.
        </p>
      </div>
    </div>
    <div class="mt-16 basis-[50%]">
      <img src="../../assets/test-demo.webp" alt="" />
    </div>
  </div>
</div>
<!-- candidate experience section end -->

<!-- connection section start -->
<div class="bg-[#C8D7DE]">
  <div class="m-auto flex w-[90vw] gap-8">
    <div class="mb-16 mt-16 basis-[50%]">
      <img src="../../assets/connection.webp" alt="" />
    </div>
    <div class="flex basis-[50%] items-center justify-center">
      <div class="">
        <h2 class="mb-10 text-[40px] font-[700] leading-[50px]">
          Champion a data-driven HR culture.
        </h2>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          We rank your applicants according to test scores certified by our
          experts. This means your HR team can rely on good data to make
          important decisions – and not just their gut feeling.
        </p>
        <p class="mb-6 text-[18px] font-[300] leading-[28px]">
          With TestGorilla, you’ll lead the shift to a more professional and
          data-focused HR culture in your company.
        </p>
        <a
          class="mt-4 rounded-lg border-2 border-black p-4 text-[14px] font-[600] leading-[24px]"
          href="">
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>
<!-- connection section end -->

<!-- video section start -->
<div class="bg-[#FFFFFF]">
  <div class="m-auto w-[80vw] pb-12 pt-12 text-center">
    <h2 class="mb-10 text-[40px] font-[700] leading-[50px]">
      Watch what TestGorilla can do for you.
    </h2>
    <div class="text-center">
      <iframe
        width="1480"
        height="600"
        src="https://www.youtube.com/embed/jberA05ZORE"
        title="A guide to pre employment testing with TestGorilla"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- video section end -->

<!-- talent-priceless section start -->
<div class="bg-[#F5F6F6]">
  <div class="m-auto w-[80vw]">
    <div class="pt-16 text-center">
      <h2 class="mb-10 text-[40px] font-[700] leading-[50px]">
        Top talent is priceless. We make finding it affordable.
      </h2>
      <p class="mb-6 text-[18px] font-[300] leading-[28px]">
        A time-consuming screening process costs you a lot. Painful mis-hires
        cost you much, much more. With TestGorilla, you
        <br />
        avoid all of this and see a huge return on investment every single year.
      </p>
      <p class="mb-6 text-[18px] font-[300] leading-[28px]">
        Start screening with us today on our free plan.
      </p>
    </div>
    <div class="mt-12 pb-16 text-center">
      <a
        class="mr-8 mt-4 rounded-lg border-2 border-black p-4 text-[14px] font-[600] leading-[24px] hover:bg-[#EDEDED]">
        Talk to us
      </a>
      <a
        routerLink="/signup"
        class="rounded-lg bg-[#44aa97] p-4 text-[14px] font-[600] leading-[24px] text-white hover:bg-[#31766A]">
        Sign up free >
      </a>
    </div>
  </div>
</div>
<!-- talent-priceless section end -->

<!-- footer section -->

<div class="bg-[#EDEDED] text-[16px] font-[600] leading-[28px]">
  <div class="m-auto flex w-[90vw] items-center justify-between pb-12 pt-12">
    <div class="flex flex-col">
      <img src="../../assets/logo-testgorilla.svg" alt="" />
      <p>© TestGorilla 2023. All rights reserved.</p>
    </div>
    <div class="flex flex-col">
      <a href="">
        Help center
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        Information for candidates
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        For subject-matter experts
        <span class="text-[#44aa97]">></span>
      </a>
    </div>
    <div class="flex flex-col">
      <a href="">
        Careers
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        Blog
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        Contact
        <span class="text-[#44aa97]">></span>
      </a>
    </div>
    <div class="flex flex-col">
      <a href="">
        Legal stuff
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        Privacy policy
        <span class="text-[#44aa97]">></span>
      </a>
      <a href="">
        Sitemap
        <span class="text-[#44aa97]">></span>
      </a>
    </div>
    <div class="flex gap-4 text-5xl">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-square-instagram"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</div>
