<div class="mb-6 rounded-md bg-white px-4 py-5 shadow-md sm:px-6">
  <div class="flex space-x-3">
    <div class="min-w-0 flex-1">
      <span
        *ngIf="question.category.length > 0"
        class="font-openSans text-[14px] font-[600] leading-[20px]">
        {{ question.category[0].title }}
      </span>
      <div class="flex justify-between">
        <div class="mb-2 flex gap-1 text-[12px] font-[400] sm:flex-1 sm:gap-4">
          <span>{{ question.level | lowercase }}</span>
          <span>|</span>
          <span>{{ question.duration | plural }}</span>
        </div>
        <div
          *ngIf="userRole === 'SUPER_ADMIN'"
          class="flex justify-end gap-4 sm:flex-1">
          <i
            matTooltip="Edit"
            (click)="editQuestion(question._id)"
            class="fa-regular fa-pen-to-square hover:cursor-pointer"></i>
          <i
            matTooltip="Delete"
            (click)="deleteQuestion(question._id)"
            class="fa-regular fa-trash-can hover:cursor-pointer"></i>
        </div>
      </div>
      <hr class="mb-2" />
      <p
        [routerLink]="['/dashboard/questions', question._id]"
        class="font-openSans text-[14px] font-[400] leading-[20px] hover:cursor-pointer"
        [innerHTML]="question.title">
        <!-- {{ question.title }} -->
      </p>
      <div *ngIf="parent === 'assessment'" class="text-right">
        <button
          (click)="onClickAddButton(question._id)"
          mat-button
          class="mr-2 px-3.5 py-2.5 !text-white">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
