<div class="min-h-[95%] bg-[#F5F6F6]">
  <div class="relative m-auto w-[90vw] px-[2rem]">
    <div class="mb-8 flex justify-between pt-8">
      <h2 class="font-openSans text-[20px] font-[600] leading-[28px]">
        Questions
      </h2>
      <button
        *ngIf="userRole === 'SUPER_ADMIN'"
        routerLink="/dashboard/questions/new"
        type="button"
        class="rounded-md bg-[#44aa97] px-6 text-[14px] font-[400] leading-[18px] text-white hover:bg-[#31766A]">
        Create new question
      </button>
    </div>

    <div class="mt-16 pb-16">
      <app-question-card
        (deleteQuestionEvent)="deleteQuestion($event)"
        *ngFor="let question of questions"
        [question]="question"
        [userRole]="userRole"></app-question-card>
    </div>
  </div>
</div>
