<div class="min-h-[95%] bg-[#F5F6F6]">
  <div class="relative m-auto w-[90vw] px-[2rem]">
    <div class="flex justify-between pt-8 mb-8">
      <h2 class="font-[600] font-openSans text-[20px] leading-[28px]">Questions</h2>
      <button *ngIf="userRole === 'SUPER_ADMIN'" routerLink="/dashboard/questions/new" type="button" class="text-white bg-[#44aa97] hover:bg-[#31766A] px-6 rounded-md font-[400] text-[14px] leading-[18px]">Create new question</button>
    </div>

    <div class="mt-16 pb-16">
      <div *ngFor="let question of questions" class="bg-white px-4 py-5 sm:px-6 rounded-md shadow-md mb-6">
        <div class="flex space-x-3">
          <div class="min-w-0 flex-1">
            <span class="text-[14px] font-[600] leading-[20px] font-openSans">
              {{ question.category[0].title }}
            </span>
            <div class="flex justify-between">
              <div class="flex gap-4 text-[12px] font-[400] mb-2 flex-1">
                <span>{{ question.level | lowercase }}</span>
                <span>|</span>
                <span>{{ question.duration | plural }} </span>
              </div>
              <div *ngIf="userRole === 'SUPER_ADMIN'" class="flex flex-1 justify-end gap-4">
                <i matTooltip="Edit" (click)="editQuestion(question._id)" class="fa-regular fa-pen-to-square hover:cursor-pointer"></i>
                <i matTooltip="Delete" (click)="deleteQuestion(question._id)" class="fa-regular fa-trash-can hover:cursor-pointer"></i>
              </div>
            </div>
            <hr class="mb-2">
            <p [routerLink]="['/dashboard/questions', question._id]" class="font-openSans font-[400] text-[14px] leading-[20px] hover:cursor-pointer" [innerHTML]="question.title">
              <!-- {{ question.title }} -->
            </p>
            <!-- <div class="text-right">
              <button type="button" class="rounded-md bg-[#44aa97]  px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#31766A]  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#44aa97] ">Add</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>