<div class="h-[95%] bg-[#F5F6F6]">
  <div class="relative m-auto w-[90vw] px-[2rem]">
    <div class="mb-8 flex flex-col justify-between pt-8 sm:flex-row">
      <h2 class="font-openSans text-[20px] font-[600] leading-[28px]">
        My assessments
      </h2>
      <button
        routerLink="/dashboard/assessments/new"
        type="button"
        class="rounded-md bg-[#44aa97] px-6 py-4 text-[14px] font-[400] leading-[18px] text-white hover:bg-[#31766A]">
        Create new assessment
      </button>
    </div>
    <div class="mb-12 flex justify-between">
      <mat-form-field appearance="outline" class="w-full sm:w-[50%] md:w-[25%]">
        <mat-label>Search assessment</mat-label>
        <input matInput [(ngModel)]="searchAssessment" />
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Assessment type</mat-label>
        <mat-select>
          <mat-option value="active">Active</mat-option>
          <mat-option value="archived">Archived</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <div [ngClass]="assessments.length > 0 ? 'hidden' : ''" class="text-center">
      <h3 class="text-[18px] font-[600] text-gray-500">
        No assessment to show. Create new assessment to start hiring!
      </h3>
    </div>
    <!-- table -->
    <!-- <div class="px-4 sm:px-6 lg:px-8">
      <div class="mt-8 flow-root"> -->
    <div
      [ngClass]="assessments.length > 0 ? '' : 'hidden'"
      class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                  Title
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Candidates
                </th>
                <!-- <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Progress
                </th> -->
                <th
                  scope="col"
                  class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:block">
                  Last Activity
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Date Created
                </th>
                <th
                  scope="col"
                  class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:block">
                  Deadline
                </th>
                <!-- <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th> -->
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr
                [routerLink]="['/dashboard/assessments', assessment._id]"
                *ngFor="let assessment of filteredAssessments"
                class="hover:cursor-pointer hover:bg-[#F0D6BB]">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                  {{ assessment.title }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ assessment.candidates }}
                </td>
                <!-- <td
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td> -->
                <td
                  class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 md:block">
                  {{
                    (assessment.updatedAt | relativeTime)
                      ? (assessment.updatedAt | relativeTime)
                      : (assessment.createdAt | relativeTime)
                  }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ assessment.createdAt | relativeTime }}
                </td>
                <td
                  class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 md:block">
                  {{ assessment.deadline ? (assessment.deadline | date) : '-' }}
                </td>
                <!-- <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 flex justify-center">
                      <button>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </button>
                    </td> -->
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- </div>
    </div> -->
  </div>
</div>
